services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - db
    env_file:
      - ./.env
    networks:
      - external
      - internal
    ports:
      - ${APP_PORT}:80
    restart: unless-stopped

  db:
    build:
      context: ./docker/mysql
      dockerfile: ./Dockerfile
    env_file:
      - ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
    networks:
      - internal
    ports:
      - 3306:3306
    restart: unless-stopped
    volumes:
      - ./db-data/prod/data:/var/lib/mysql
      - ./db-data/prod/logs:/var/lib/mysql-bin

volumes:
  db-data:
    external: true

networks:
  external:
    internal: false

  internal:
    internal: true
